*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(238, 233, 233, 0.466);
    font-family: Arial, Helvetica, sans-serif;
}

/* inizio header */

header{
    width: 100vw;
    height: 60px;
    background-color: white;
    margin-bottom: 50px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

header >h1{
    display: inline-block;
    font-size: 35px;
}

/* fine header */

.contenitore{
    width: 70%;
    margin: auto;
}

/* inizio nav */

nav{
    height: 60px;
    width: 100%;
    padding: 16px 10%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: white;
    border-bottom: 2px solid rgba(238, 233, 233, 0.466);
}

nav >button{
    padding: 7px;
    border-radius: 7px;
}

#task{
    color: white;
    background-color: rgb(37, 130, 252);
    border: 1px solid rgb(37, 130, 252);
}

#section{
    color: lightgrey;
    background-color: white;
    border: 1px solid lightgrey;
}

/* fine nav */
/* inizio main */

main{
    padding-left: 10%;
    padding-top: 25px;
    padding-bottom:25px;
    background-color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}


.check{
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 12px;
    font-size: x-small;
    padding: 3px;
}

.cross{
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 12px;
    font-size: x-small;
    padding: 3px;
}

.colore{
    color: white;
    padding: 6px;
    border-radius: 10px;
    font-size: x-small;
}

.blocco{
    margin-bottom: 35px;
}

.blocco > span{
    line-height: 45px;
}

.blu{
    background-color: rgb(37, 130, 252);
}

.porpora{
    background-color: rgb(170, 72, 141);
}

.verde{
    background-color: rgb(68, 150, 68);
}

.arancio{
    background-color: orange;
}

.rosa{
    background-color: palevioletred;
}

.senape{
    background-color: rgb(186, 189, 10);
}

/* fine main */