*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

/* inizio header */

header{
    width: 100vw;
    height: 60px;
    background-color: white;
    padding: 5px 20px;
    margin-bottom: 50px;
}

header >h1{
    display: inline-block;
}

/* fine header */

.contenitore{
    width: 60%;
    height: 900px;
    margin: auto;
    background-color: white;
}

/* inizio nav */

nav{
    height: 60px;
    width: 100%;
    padding: 16px 10%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: white;
    border-bottom: 2px solid lightgray
}

nav >button{
    padding: 7px;
    border-radius: 7px;
}

#task{
    color: white;
    background-color: rgb(37, 130, 252);
    border: none;
}

#section{
    color: lightgrey;
    background-color: white;
    border-color: lightgrey;
}

/* fine nav */
/* inizio main */

main{
    padding-left: 10%;
    padding-top: 25px;
    background-color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}


.check{
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 12px;
    font-size: x-small;
    padding: 3px;
}

.edit{
    background-color: rgb(37, 130, 252);
    color: white;
    padding: 6px;
    border-radius: 10px;
    font-size: x-small;
}

.blocco{
    margin-bottom: 35px;
}

.blocco > span{
    line-height: 45px;
}